<html>

    <head>
        <title>A open-source music player with Electron</title>
        <link rel="stylesheet" href="../../assets/css/fontawesome-all.min.css"/>
        <link rel="stylesheet" href="../../assets/css/bootstrap.min.css"/>
    </head>

    <body>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">open-player</h1>
                <p class="lead">A open-source music player with Electron ~</p>
            </div>
        </div>

        <div class="container">
            <div class="card" style="margin-top: 15px;">
                <div class="card-header">Bem-vindo</div>
                <div class="card-body">
                    <h4 class="card-title">Crie um nome de usuário</h4>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="username" aria-describedby="help" placeholder="Digite um nome de usuário...">
                            <small id="help" class="form-text text-muted">Todos dados ficam gravados em banco de dados local.</small>
                        </div>
                        <button id="user-btn" type="submit" class="btn btn-primary">ENTRAR</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="welcome.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>

</html>
